 .topbar{
	padding: 12px;
	border-bottom: 3px solid #f9f9f9;
 }
 .space{
	margin-right: 4%;
 }
 .center{
    margin: auto;
}

.infocontact{
	margin-top: 12px;
}
@media only screen and (max-width: 767px) {
	.infocontact{
		margin-top: 0px;
	}
  }